<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @role.timestamps %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
